body{
    color:#1d4f71;
   font-family: Palatino Linotype; 
}
/*
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
*/
/*
th:nth-child(even) {
background-color:rgba(46, 149, 146,0.5)
}
*/
th:nth-child(even) ,th:nth-child(odd){
background-color:rgba(46, 149, 146,0.5)
}
td:nth-child(even) {
  background-color: #D6EEEE;
}
.header{
    text-align:center;
    border-style: solid;
    width:100%;
    margin: auto;
    }

tbody,  tr {
    border-color:#f0f0f4 ;
    border-style: solid;
    border-width: 6px;
}
.site-banner{
    background-color : #2E3192;
}
#banner_title{
    width:30%;
    margin:auto;
    background-color: rgba(46, 149, 146,0.5);
 margin-top:0;
 margin-bottom: 0;
}